In [21]:
import pandas as pd
from cartoframes.data import enrichment
from cartoframes.auth import set_default_credentials, Credentials
from cartoframes.data.observatory import Catalog, Enrichment

## Search metadata

In [2]:
catalog = Catalog()
countries = catalog.countries
countries

[<Country('tjk')>,
 <Country('gtm')>,
 <Country('tca')>,
 <Country('prt')>,
 <Country('gab')>,
 <Country('bwa')>,
 <Country('aia')>,
 <Country('ury')>,
 <Country('twn')>,
 <Country('png')>,
 <Country('nzl')>,
 <Country('nga')>,
 <Country('svn')>,
 <Country('swe')>,
 <Country('ven')>,
 <Country('qat')>,
 <Country('ago')>,
 <Country('swz')>,
 <Country('khm')>,
 <Country('tza')>,
 <Country('omn')>,
 <Country('uga')>,
 <Country('mrt')>,
 <Country('gnq')>,
 <Country('mkd')>,
 <Country('bel')>,
 <Country('aze')>,
 <Country('pyf')>,
 <Country('ecu')>,
 <Country('msr')>,
 <Country('vir')>,
 <Country('irn')>,
 <Country('pak')>,
 <Country('jpn')>,
 <Country('phl')>,
 <Country('guy')>,
 <Country('tto')>,
 <Country('jam')>,
 <Country('ner')>,
 <Country('srb')>,
 <Country('fji')>,
 <Country('mmr')>,
 <Country('cpv')>,
 <Country('bmu')>,
 <Country('pri')>,
 <Country('jor')>,
 <Country('fro')>,
 <Country('uzb')>,
 <Country('rus')>,
 <Country('mar')>,
 <Country('dnk')>,
 <Country('mli')>,
 <Country('usa')>,
 <Country('hun')>,
 <Country('vnm')>,
 <Country('per')>,
 <Country('pan')>,
 <Country('tcd')>,
 <Country('ukr')>,
 <Country('grl')>,
 <Country('bgr')>,
 <Country('rou')>,
 <Country('alb')>,
 <Country('zwe')>,
 <Country('mus')>,
 <Country('hkg')>,
 <Country('pol')>,
 <Country('lie')>,
 <Country('cri')>,
 <Country('reu')>,
 <Country('cyp')>,
 <Country('moz')>,
 <Country('lbn')>,
 <Country('col')>,
 <Country('and')>,
 <Country('dom')>,
 <Country('aus')>,
 <Country('can')>,
 <Country('cze')>,
 <Country('ita')>,
 <Country('nor')>,
 <Country('lka')>,
 <Country('pry')>,
 <Country('rks')>,
 <Country('esp')>,
 <Country('bdi')>,
 <Country('gmb')>,
 <Country('est')>,
 <Country('sle')>,
 <Country('cod')>,
 <Country('tgo')>,
 <Country('chl')>,
 <Country('kgz')>,
 <Country('svk')>,
 <Country('mda')>,
 <Country('isl')>,
 <Country('glp')>,
 <Country('tun')>,
 <Country('kaz')>,
 <Country('npl')>,
 <Country('mne')>,
 <Country('mex')>,
 <Country('geo')>,
 <Country('bhs')>,
 <Country('gha')>,
 <Country('sgp')>,
 <Country('tha')>,
 <Country('sdn')>,
 <Country('myt')>,
 <Country('arm')>,
 <Country('sen')>,
 <Country('arg')>,
 <Country('mys')>,
 <Country('mco')>,
 <Country('che')>,
 <Country('bih')>,
 <Country('lca')>,
 <Country('bra')>,
 <Country('isr')>,
 <Country('ltu')>,
 <Country('cym')>,
 <Country('deu')>,
 <Country('bfa')>,
 <Country('mng')>,
 <Country('abw')>,
 <Country('cmr')>,
 <Country('sau')>,
 <Country('are')>,
 <Country('mdv')>,
 <Country('lux')>,
 <Country('tur')>,
 <Country('kwt')>,
 <Country('nic')>,
 <Country('chn')>,
 <Country('egy')>,
 <Country('kor')>,
 <Country('dza')>,
 <Country('brb')>,
 <Country('irl')>,
 <Country('aut')>,
 <Country('zaf')>,
 <Country('nam')>,
 <Country('bhr')>,
 <Country('gbr')>,
 <Country('nld')>,
 <Country('lva')>,
 <Country('ben')>,
 <Country('hrv')>,
 <Country('ind')>,
 <Country('eth')>,
 <Country('mac')>,
 <Country('gin')>,
 <Country('brn')>,
 <Country('guf')>,
 <Country('bol')>,
 <Country('mtq')>,
 <Country('mdg')>,
 <Country('hnd')>,
 <Country('grc')>,
 <Country('slv')>,
 <Country('ncl')>,
 <Country('caf')>,
 <Country('zmb')>,
 <Country('fra')>,
 <Country('civ')>,
 <Country('blr')>,
 <Country('mwi')>,
 <Country('lso')>,
 <Country('fin')>,
 <Country('hti')>,
 <Country('idn')>,
 <Country('ken')>,
 <Country('bgd')>,
 <Country('lbr')>,
 <Country('mlt')>,
 <Country('gnb')>,
 <Country('cog')>]

In [8]:
usa = countries.get('usa')
usa

In [9]:
datasets = usa.datasets
datasets

[<CatalogDataset('ags_businesscou_a8310a11')>,
 <CatalogDataset('ags_consumerpro_e8344e2e')>,
 <CatalogDataset('ags_consumerspe_fe5d060a')>,
 <CatalogDataset('ags_crimerisk_9ec89442')>,
 <CatalogDataset('ags_retailpoten_ddf56a1a')>,
 <CatalogDataset('ags_sociodemogr_e92b1637')>,
 <CatalogDataset('ags_sociodemogr_e128078d')>,
 <CatalogDataset('ags_climateandw_cffac915')>,
 <CatalogDataset('mc_mrli_cdabd5c6')>,
 <CatalogDataset('mc_mrli_35402a9d')>,
 <CatalogDataset('mc_mrli_3e9a0d24')>,
 <CatalogDataset('mc_mrli_12ec28f')>,
 <CatalogDataset('mc_mrli_c044b645')>,
 <CatalogDataset('mc_mrli_359ae0b8')>,
 <CatalogDataset('pb_pointsofint_f8c10b50')>,
 <CatalogDataset('od_acs_d28e63ff')>,
 <CatalogDataset('od_acs_91ff81e3')>,
 <CatalogDataset('od_acs_db9898c5')>,
 <CatalogDataset('od_acs_4f56aa89')>,
 <CatalogDataset('od_acs_8c8516b')>,
 <CatalogDataset('od_acs_4bb9b377')>,
 <CatalogDataset('od_acs_1deaa51')>,
 <CatalogDataset('od_acs_9510981d')>,
 <CatalogDataset('od_acs_d9e8a21b')>,
 <CatalogDataset('od_acs_de856602')>,
 <CatalogDataset('od_acs_a9825694')>,
 <CatalogDataset('od_acs_478c37b8')>,
 <CatalogDataset('od_acs_5978c550')>,
 <CatalogDataset('od_acs_1a09274c')>,
 <CatalogDataset('od_acs_506e3e6a')>,
 <CatalogDataset('od_acs_c4a00c26')>,
 <CatalogDataset('od_acs_f09b24f4')>,
 <CatalogDataset('od_acs_b3eac6e8')>,
 <CatalogDataset('od_acs_f98ddfce')>,
 <CatalogDataset('od_acs_6d43ed82')>,
 <CatalogDataset('od_acs_6c9090b5')>,
 <CatalogDataset('od_acs_6bfd54ac')>,
 <CatalogDataset('od_acs_1cfa643a')>,
 <CatalogDataset('od_acs_f2f40516')>,
 <CatalogDataset('od_acs_5c10acf4')>,
 <CatalogDataset('od_acs_1f614ee8')>,
 <CatalogDataset('od_acs_550657ce')>,
 <CatalogDataset('od_acs_c1c86582')>,
 <CatalogDataset('od_acs_c5eb4b5e')>,
 <CatalogDataset('od_acs_c2868f47')>,
 <CatalogDataset('od_acs_b581bfd1')>,
 <CatalogDataset('od_acs_5b8fdefd')>,
 <CatalogDataset('od_acs_1a22afad')>,
 <CatalogDataset('od_acs_59534db1')>,
 <CatalogDataset('od_acs_13345497')>,
 <CatalogDataset('od_acs_87fa66db')>,
 <CatalogDataset('od_acs_a665f9e1')>,
 <CatalogDataset('od_acs_a1083df8')>,
 <CatalogDataset('od_acs_d60f0d6e')>,
 <CatalogDataset('od_acs_38016c42')>,
 <CatalogDataset('od_acs_5b67fbbf')>,
 <CatalogDataset('od_acs_181619a3')>,
 <CatalogDataset('od_acs_52710085')>,
 <CatalogDataset('od_acs_c6bf32c9')>,
 <CatalogDataset('od_acs_8c6d324a')>,
 <CatalogDataset('od_acs_8b00f653')>,
 <CatalogDataset('od_acs_fc07c6c5')>,
 <CatalogDataset('od_acs_1209a7e9')>,
 <CatalogDataset('od_acs_e8a7d88d')>,
 <CatalogDataset('od_acs_abd63a91')>,
 <CatalogDataset('od_acs_e1b123b7')>,
 <CatalogDataset('od_acs_6926adef')>,
 <CatalogDataset('od_acs_6e4b69f6')>,
 <CatalogDataset('od_acs_194c5960')>,
 <CatalogDataset('od_acs_dc3cfd0f')>,
 <CatalogDataset('od_acs_9f4d1f13')>,
 <CatalogDataset('od_acs_d52a0635')>,
 <CatalogDataset('od_acs_9a9c93b8')>,
 <CatalogDataset('od_acs_9df157a1')>,
 <CatalogDataset('od_acs_eaf66737')>,
 <CatalogDataset('od_acs_e9e3046f')>,
 <CatalogDataset('od_acs_aa92e673')>,
 <CatalogDataset('od_acs_e0f5ff55')>,
 <CatalogDataset('od_acs_7b2649a9')>,
 <CatalogDataset('od_acs_7c4b8db0')>,
 <CatalogDataset('od_acs_b4cbd26')>,
 <CatalogDataset('od_acs_5ec6965e')>,
 <CatalogDataset('od_acs_1db77442')>,
 <CatalogDataset('od_acs_57d06d64')>,
 <CatalogDataset('od_acs_c31e5f28')>,
 <CatalogDataset('od_acs_670c8beb')>,
 <CatalogDataset('od_acs_60614ff2')>,
 <CatalogDataset('od_acs_17667f64')>,
 <CatalogDataset('od_acs_f9681e48')>,
 <CatalogDataset('od_acs_f3eaa128')>,
 <CatalogDataset('od_acs_b98db80e')>,
 <CatalogDataset('od_acs_2d438a42')>,
 <CatalogDataset('od_acsquantile_7bc07dac')>,
 <CatalogDataset('od_acsquantile_38b19fb0')>,
 <CatalogDataset('od_acsquantile_72d68696')>,
 <CatalogDataset('od_acsquantile_b4a64e3e')>,
 <CatalogDataset('od_acsquantile_f7d7ac22')>,
 <CatalogDataset('od_acsquantile_bdb0b504')>,
 <CatalogDataset('od_acsquantile_289a3e56')>,
 <CatalogDataset('od_acsquantile_2ff7fa4f')>,
 <CatalogDataset('od_acsquantile_58f0cad9')>,
 <CatalogDataset('od_acsquantile_abb38b00')>,
 <CatalogDataset('od_acsquantile_e8c2691c')>,
 <CatalogDataset('od_acsquantile_a2a5703a')>,
 <CatalogDataset('od_acsquantile_8bf20ab8')>,
 <CatalogDataset('od_acsquantile_c883e8a4')>,
 <CatalogDataset('od_acsquantile_82e4f182')>,
 <CatalogDataset('od_acsquantile_6459801d')>,
 <CatalogDataset('od_acsquantile_63344404')>,
 <CatalogDataset('od_acsquantile_14337492')>,
 <CatalogDataset('od_acsquantile_16d4b47e')>,
 <CatalogDataset('od_acsquantile_55a55662')>,
 <CatalogDataset('od_acsquantile_1fc24f44')>,
 <CatalogDataset('od_acsquantile_7985540b')>,
 <CatalogDataset('od_acsquantile_7ee89012')>,
 <CatalogDataset('od_acsquantile_9efa084')>,
 <CatalogDataset('od_acsquantile_19f64c9')>,
 <CatalogDataset('od_acsquantile_42ee86d5')>,
 <CatalogDataset('od_acsquantile_8899ff3')>,
 <CatalogDataset('od_acsquantile_aef9b650')>,
 <CatalogDataset('od_acsquantile_a9947249')>,
 <CatalogDataset('od_acsquantile_de9342df')>,
 <CatalogDataset('od_acsquantile_e709e4ea')>,
 <CatalogDataset('od_acsquantile_a47806f6')>,
 <CatalogDataset('od_acsquantile_ee1f1fd0')>,
 <CatalogDataset('od_acsquantile_7d1fae07')>,
 <CatalogDataset('od_acsquantile_7a726a1e')>,
 <CatalogDataset('od_acsquantile_d755a88')>,
 <CatalogDataset('od_acsquantile_ae4e7c82')>,
 <CatalogDataset('od_acsquantile_ed3f9e9e')>,
 <CatalogDataset('od_acsquantile_a75887b8')>,
 <CatalogDataset('od_acsquantile_1637c97a')>,
 <CatalogDataset('od_acsquantile_115a0d63')>,
 <CatalogDataset('od_acsquantile_665d3df5')>,
 <CatalogDataset('od_acsquantile_5c268ba0')>,
 <CatalogDataset('od_acsquantile_1f5769bc')>,
 <CatalogDataset('od_acsquantile_5530709a')>,
 <CatalogDataset('od_acsquantile_e1f5bdf4')>,
 <CatalogDataset('od_acsquantile_e69879ed')>,
 <CatalogDataset('od_acsquantile_919f497b')>,
 <CatalogDataset('od_acsquantile_928a2a23')>,
 <CatalogDataset('od_acsquantile_d1fbc83f')>,
 <CatalogDataset('od_acsquantile_9b9cd119')>,
 <CatalogDataset('od_acsquantile_73ef5901')>,
 <CatalogDataset('od_acsquantile_74829d18')>,
 <CatalogDataset('od_acsquantile_385ad8e')>,
 <CatalogDataset('od_acsquantile_457b5d3a')>,
 <CatalogDataset('od_acsquantile_60abf26')>,
 <CatalogDataset('od_acsquantile_4c6da600')>,
 <CatalogDataset('od_acsquantile_6f90c45a')>,
 <CatalogDataset('od_acsquantile_68fd0043')>,
 <CatalogDataset('od_acsquantile_1ffa30d5')>,
 <CatalogDataset('od_acsquantile_e8576a4c')>,
 <CatalogDataset('od_acsquantile_a230736a')>,
 <CatalogDataset('od_bls_b7d3bb53')>,
 <CatalogDataset('od_bls_2edaeae9')>,
 <CatalogDataset('od_bls_59ddda7f')>,
 <CatalogDataset('od_bls_c7b94fdc')>,
 <CatalogDataset('od_bls_b611d164')>,
 <CatalogDataset('od_bls_2f1880de')>,
 <CatalogDataset('od_bls_581fb048')>,
 <CatalogDataset('od_bls_c67b25eb')>,
 <CatalogDataset('od_bls_b35ec7e1')>,
 <CatalogDataset('od_bls_2a57965b')>,
 <CatalogDataset('od_bls_5d50a6cd')>,
 <CatalogDataset('od_bls_c334336e')>,
 <CatalogDataset('od_bls_b29cadd6')>,
 <CatalogDataset('od_bls_2b95fc6c')>,
 <CatalogDataset('od_bls_5c92ccfa')>,
 <CatalogDataset('od_bls_c2f65959')>,
 <CatalogDataset('od_bls_b0da138f')>,
 <CatalogDataset('od_bls_29d34235')>,
 <CatalogDataset('od_bls_5ed472a3')>,
 <CatalogDataset('od_bls_c0b0e700')>,
 <CatalogDataset('od_bls_b11879b8')>,
 <CatalogDataset('od_epa_c006dd7d')>,
 <CatalogDataset('od_epa_307e4909')>,
 <CatalogDataset('od_epa_de702825')>,
 <CatalogDataset('od_lodes_b4b9dfac')>,
 <CatalogDataset('od_spielmansin_5d03106a')>,
 <CatalogDataset('od_tiger_41814018')>,
 <CatalogDataset('od_tiger_476ce2e9')>,
 <CatalogDataset('od_tiger_e5e51d96')>,
 <CatalogDataset('od_tiger_5e55275d')>,
 <CatalogDataset('od_tiger_e10059f')>,
 <CatalogDataset('od_tiger_66b9092c')>,
 <CatalogDataset('od_tiger_384d0b09')>,
 <CatalogDataset('od_tiger_b0608dc7')>,
 <CatalogDataset('od_tiger_fac69779')>,
 <CatalogDataset('od_tiger_3336cbf')>,
 <CatalogDataset('od_tiger_19a6dc83')>,
 <CatalogDataset('od_tiger_f9247903')>,
 <CatalogDataset('od_acs_29664073')>,
 <CatalogDataset('od_zillow_3d2b2901')>,
 <CatalogDataset('od_zillow_a42278bb')>,
 <CatalogDataset('od_zillow_25f27277')>,
 <CatalogDataset('od_zillow_bcfb23cd')>,
 <CatalogDataset('od_zillow_cbfc135b')>,
 <CatalogDataset('od_zillow_559886f8')>,
 <CatalogDataset('od_zillow_229fb66e')>,
 <CatalogDataset('od_zillow_bb96e7d4')>,
 <CatalogDataset('od_zillow_cc91d742')>,
 <CatalogDataset('od_zillow_5c2ecad3')>,
 <CatalogDataset('od_zillow_2b29fa45')>,
 <CatalogDataset('od_zillow_4bee73a0')>,
 <CatalogDataset('od_zillow_3ce94336')>,
 <CatalogDataset('od_zillow_a5e0128c')>,
 <CatalogDataset('od_zillow_27b4cc2e')>,
 <CatalogDataset('od_zillow_bebd9d94')>,
 <CatalogDataset('od_zillow_c9baad02')>,
 <CatalogDataset('od_zillow_57de38a1')>,
 <CatalogDataset('od_zillow_20d90837')>,
 <CatalogDataset('od_zillow_b9d0598d')>,
 <CatalogDataset('od_zillow_ced7691b')>,
 <CatalogDataset('od_zillow_5e68748a')>,
 <CatalogDataset('od_zillow_296f441c')>,
 <CatalogDataset('od_zillow_49a8cdf9')>,
 <CatalogDataset('od_zillow_3eaffd6f')>,
 <CatalogDataset('od_zillow_a7a6acd5')>,
 <CatalogDataset('od_zillow_2676a619')>,
 <CatalogDataset('od_zillow_bf7ff7a3')>,
 <CatalogDataset('od_zillow_c878c735')>,
 <CatalogDataset('od_zillow_561c5296')>,
 <CatalogDataset('od_zillow_211b6200')>,
 <CatalogDataset('od_zillow_b81233ba')>,
 <CatalogDataset('od_zillow_cf15032c')>,
 <CatalogDataset('od_zillow_5faa1ebd')>,
 <CatalogDataset('od_zillow_28ad2e2b')>,
 <CatalogDataset('od_zillow_486aa7ce')>,
 <CatalogDataset('od_zillow_3f6d9758')>,
 <CatalogDataset('od_zillow_a664c6e2')>,
 <CatalogDataset('od_zillow_2339b09c')>,
 <CatalogDataset('od_zillow_ba30e126')>,
 <CatalogDataset('od_zillow_cd37d1b0')>,
 <CatalogDataset('od_zillow_53534413')>,
 <CatalogDataset('od_zillow_24547485')>,
 <CatalogDataset('od_zillow_bd5d253f')>,
 <CatalogDataset('od_zillow_ca5a15a9')>,
 <CatalogDataset('od_zillow_5ae50838')>,
 <CatalogDataset('od_zillow_2de238ae')>,
 <CatalogDataset('od_zillow_4d25b14b')>,
 <CatalogDataset('od_zillow_3a2281dd')>,
 <CatalogDataset('od_zillow_a32bd067')>,
 <CatalogDataset('od_zillow_22fbdaab')>,
 <CatalogDataset('od_zillow_bbf28b11')>,
 <CatalogDataset('od_zillow_ccf5bb87')>,
 <CatalogDataset('od_zillow_52912e24')>,
 <CatalogDataset('od_zillow_25961eb2')>,
 <CatalogDataset('od_zillow_bc9f4f08')>,
 <CatalogDataset('od_zillow_cb987f9e')>,
 <CatalogDataset('od_zillow_5b27620f')>,
 <CatalogDataset('od_zillow_2c205299')>,
 <CatalogDataset('od_zillow_4ce7db7c')>,
 <CatalogDataset('od_zillow_3be0ebea')>,
 <CatalogDataset('od_zillow_a2e9ba50')>,
 <CatalogDataset('od_zillow_20bd64f2')>,
 <CatalogDataset('od_zillow_b9b43548')>,
 <CatalogDataset('od_zillow_ceb305de')>,
 <CatalogDataset('od_zillow_50d7907d')>,
 <CatalogDataset('od_zillow_27d0a0eb')>,
 <CatalogDataset('od_zillow_bed9f151')>,
 <CatalogDataset('od_zillow_c9dec1c7')>,
 <CatalogDataset('od_zillow_5961dc56')>,
 <CatalogDataset('od_zillow_2e66ecc0')>,
 <CatalogDataset('od_zillow_4ea16525')>,
 <CatalogDataset('od_zillow_39a655b3')>,
 <CatalogDataset('od_zillow_a0af0409')>,
 <CatalogDataset('od_zillow_217f0ec5')>,
 <CatalogDataset('od_zillow_b8765f7f')>,
 <CatalogDataset('od_zillow_cf716fe9')>,
 <CatalogDataset('od_zillow_5115fa4a')>,
 <CatalogDataset('od_zillow_2612cadc')>,
 <CatalogDataset('od_zillow_bf1b9b66')>,
 <CatalogDataset('od_zillow_c81cabf0')>,
 <CatalogDataset('od_zillow_58a3b661')>,
 <CatalogDataset('od_zillow_2fa486f7')>,
 <CatalogDataset('od_zillow_4f630f12')>,
 <CatalogDataset('od_zillow_38643f84')>,
 <CatalogDataset('od_zillow_a16d6e3e')>,
 <CatalogDataset('od_zillow_2a2349f8')>,
 <CatalogDataset('od_zillow_b32a1842')>,
 <CatalogDataset('tt_trafficdens_c451dfb9')>]

In [10]:
dataset = datasets.get('od_acs_d28e63ff')

In [11]:
variables = dataset.variables
variables

[<Variable('female_50_to_54_45fdde42','The female population between ...')>,
 <Variable('female_55_to_59_69748d58','The female population between ...')>,
 <Variable('male_25_to_29_c51a4888','The male population between th...')>,
 <Variable('female_15_to_17_6eea6ba1','The female population between ...')>,
 <Variable('female_60_to_61_90357eed','The female population between ...')>,
 <Variable('asian_including_f037305','')>,
 <Variable('male_65_to_66_b5839ee7','The male population between th...')>,
 <Variable('male_30_to_34_3c222a4d','The male population between th...')>,
 <Variable('male_35_to_39_10ab7957','The male population between th...')>,
 <Variable('female_65_to_66_5c69c4e9','The female population between ...')>,
 <Variable('female_18_to_19_e8852766','The female population between ...')>,
 <Variable('male_40_to_44_79a6b593','The male population between th...')>,
 <Variable('female_67_to_69_5b49c851','The female population between ...')>,
 <Variable('white_pop_71266eda','The number of people identifyi...')>,
 <Variable('male_70_to_74_dc04e1b3','The male population between th...')>,
 <Variable('female_21_5995b374','The female population with an ...')>,
 <Variable('other_race_pop_2df61766','The number of people identifyi...')>,
 <Variable('female_75_to_79_1967e8a7','The female population between ...')>,
 <Variable('male_75_to_79_f08db2a9','The male population between th...')>,
 <Variable('hispanic_pop_f1f98813','The number of people identifyi...')>,
 <Variable('female_22_to_24_97e650b5','The female population between ...')>,
 <Variable('male_45_to_49_552fe689','The male population between th...')>,
 <Variable('male_50_to_54_ac17844c','The male population between th...')>,
 <Variable('male_62_64_23194aa','The male population between th...')>,
 <Variable('male_85_and_ove_b2a24c1b','The male population of the age...')>,
 <Variable('male_under_5_fc32e989','The male population over the a...')>,
 <Variable('female_25_to_29_2cf01286','The female population between ...')>,
 <Variable('male_5_to_9_ce6752d9','The male population between th...')>,
 <Variable('male_67_to_69_b2a3925f','The male population between th...')>,
 <Variable('male_10_to_14_4c314fb2','The male population between th...')>,
 <Variable('male_15_to_17_870031af','The male population between th...')>,
 <Variable('male_55_to_59_809ed756','The male population between th...')>,
 <Variable('male_18_to_19_16f7d68','The male population between th...')>,
 <Variable('male_60_61_d852a8ae','The male population between th...')>,
 <Variable('female_40_to_44_904cef9d','The female population between ...')>,
 <Variable('dwellings_5_to__31d0bbf2','')>,
 <Variable('male_20_17fec7f5','The male population with an ag...')>,
 <Variable('dwellings_10_to_2887022d','')>,
 <Variable('male_21_60f9f763','The male population with an ag...')>,
 <Variable('female_45_to_49_bcc5bc87','The female population between ...')>,
 <Variable('dwellings_50_or_fb04ae86','')>,
 <Variable('female_under_5_75cdd28f','The female population over the...')>,
 <Variable('female_5_to_9_e277b440','The female population between ...')>,
 <Variable('amerindian_incl_5b1e4f9','')>,
 <Variable('female_70_to_74_35eebbbd','The female population between ...')>,
 <Variable('male_80_to_84_82bcefd0','The male population between th...')>,
 <Variable('female_30_to_34_d5c87043','The female population between ...')>,
 <Variable('female_35_to_39_f9412359','The female population between ...')>,
 <Variable('female_62_to_64_77c09b4b','The female population between ...')>,
 <Variable('female_80_to_84_6b56b5de','The female population between ...')>,
 <Variable('female_85_and_o_b8b7df40','The female population of the a...')>,
 <Variable('median_age_25febc83','The median age of all people i...')>,
 <Variable('total_pop_1a6c5751','The total number of all people...')>,
 <Variable('black_including_5662708b','')>,
 <Variable('not_hispanic_po_31b1e5d9','The number of people not ident...')>,
 <Variable('black_pop_8137a53b','The number of people identifyi...')>,
 <Variable('amerindian_pop_99ba762d','The number of people identifyi...')>,
 <Variable('asian_pop_abe6da65','The number of people identifyi...')>,
 <Variable('two_or_more_rac_7873a797','The number of people identifyi...')>,
 <Variable('aggregate_trave_3ef01f22','The total number of minutes ev...')>,
 <Variable('commute_5_9_min_69f7234f','The number of workers in a geo...')>,
 <Variable('income_per_capi_badee53e','Per capita income is the mean ...')>,
 <Variable('white_including_43ceac8e','')>,
 <Variable('two_parent_fami_2af0345d','')>,
 <Variable('two_parents_in__1e618113','')>,
 <Variable('two_parents_fat_26279261','')>,
 <Variable('one_parent_fami_5a6aa123','')>,
 <Variable('two_parents_mot_bf7ee7cb','')>,
 <Variable('two_parents_not_edd3eefe','')>,
 <Variable('father_one_pare_1ea164de','')>,
 <Variable('father_in_labor_e7f749c8','')>,
 <Variable('housing_units_b0f713d1','A count of housing units in ea...')>,
 <Variable('vacant_housing__3d024cb5','The count of vacant housing un...')>,
 <Variable('occupied_housin_5c87bd77','A housing unit is classified a...')>,
 <Variable('housing_units_r_179b00b3','All occupied units which are n...')>,
 <Variable('vacant_housing__acb73e13','The count of vacant housing un...')>,
 <Variable('vacant_housing__4b84b3da','The count of vacant housing un...')>,
 <Variable('dwellings_3_to__bf3a7fd2','')>,
 <Variable('dwellings_1_uni_dc135e69','This is a 1-unit structure tha...')>,
 <Variable('dwellings_1_uni_555ac777','This is a 1-unit structure det...')>,
 <Variable('dwellings_2_uni_cbc2db25','')>,
 <Variable('dwellings_20_to_1c062992','')>,
 <Variable('median_year_str_907ed99d','Median Year Structure Built')>,
 <Variable('mobile_homes_f222ce84','A manufactured home is defined...')>,
 <Variable('housing_built_2_a6af2f91','A house, an apartment, a mobil...')>,
 <Variable('housing_built_2_42c1cdba','A house, an apartment, a mobil...')>,
 <Variable('housing_built_1_549bbabe','A house, an apartment, a mobil...')>,
 <Variable('median_rent_5322835a','The median contract rent withi...')>,
 <Variable('renter_occupied_2b759e80','')>,
 <Variable('rent_under_10_p_4693b5ff','Gross rent less than 10 percen...')>,
 <Variable('rent_burden_not_8a30f32d','Units for which no rent is pai...')>,
 <Variable('rent_10_to_15_p_8a695a9e','Gross rent from 10.0 to 14.9 p...')>,
 <Variable('rent_15_to_20_p_184e1a59','Gross rent from 15.0 to 19.9 p...')>,
 <Variable('rent_20_to_25_p_4896556f','Gross rent from 20.0 to 24.9 p...')>,
 <Variable('rent_25_to_30_p_de44c595','Gross rent from 25.0 to 29.9 p...')>,
 <Variable('rent_30_to_35_p_93cafc0','Gross rent from 30.0 to 34.9 p...')>,
 <Variable('rent_35_to_40_p_92f04f7d','Gross rent from 35.0 to 39.9 p...')>,
 <Variable('rent_40_to_50_p_b34c62bd','Gross rent from 40.0 to 49.9 p...')>,
 <Variable('rent_over_50_pe_f91ce603','Gross rent over 50 percent of ...')>,
 <Variable('percent_income__7a1ef5ce','Within a geographic area, the ...')>,
 <Variable('owner_occupied__9b20fe2','')>,
 <Variable('million_dollar__4712eb19','The count of owner occupied ho...')>,
 <Variable('owner_occupied__91555d0a','')>,
 <Variable('owner_occupied__38dadbc2','The middle value (median) in a...')>,
 <Variable('owner_occupied__38dcbc7b','')>,
 <Variable('mortgaged_housi_5087cd5a','The count of housing units wit...')>,
 <Variable('geoidsc_16576bbe','None')>,
 <Variable('geoid_af38163c','None')>,
 <Variable('do_date_7586c307','None')>,
 <Variable('geoidsl_86e8762f','None')>,
 <Variable('female_pop_82109753','The number of people within ea...')>,
 <Variable('male_22_to_24_7e0c0abb','The male population between th...')>,
 <Variable('male_pop_1fa7ed0','The number of people within ea...')>,
 <Variable('female_20_2e9283e2','The female population with an ...')>,
 <Variable('female_10_to_14_a5db15bc','The female population between ...')>,
 <Variable('commuters_by_pu_b9c4d7d5','The number of workers age 16 y...')>,
 <Variable('commute_10_14_m_e7f5d2c5','The number of workers in a geo...')>,
 <Variable('commute_15_19_m_11fc8454','The number of workers in a geo...')>,
 <Variable('commute_20_24_m_3d2a735b','The number of workers in a geo...')>,
 <Variable('commute_25_29_m_cb2325ca','The number of workers in a geo...')>,
 <Variable('commute_30_34_m_749f13d1','The number of workers in a geo...')>,
 <Variable('commute_35_39_m_82964540','The number of workers in a geo...')>,
 <Variable('commute_40_44_m_53e43626','The number of workers in a geo...')>,
 <Variable('commute_45_59_m_39a6b03','The number of workers in a geo...')>,
 <Variable('commute_60_89_m_2c2f9fb1','The number of workers in a geo...')>,
 <Variable('commute_90_more_58813605','The number of workers in a geo...')>,
 <Variable('households_169d35ba','A count of the number of house...')>,
 <Variable('family_househol_fc8fedce','A family consists of a househo...')>,
 <Variable('married_househo_a89ec718','People in formal marriages, as...')>,
 <Variable('nonfamily_house_782ad7c7','A householder living alone or ...')>,
 <Variable('families_with_y_b5b74b51','')>,
 <Variable('income_less_100_78507952','The number of households in a ...')>,
 <Variable('income_10000_14_87114cc0','The number of households in a ...')>,
 <Variable('income_15000_19_93525f59','The number of households in a ...')>,
 <Variable('income_20000_24_59535011','The number of households in a ...')>,
 <Variable('income_25000_29_4d104388','The number of households in a ...')>,
 <Variable('income_30000_34_a5bda661','The number of households in a ...')>,
 <Variable('income_35000_39_b1feb5f8','The number of households in a ...')>,
 <Variable('income_40000_44_3ea66ff2','The number of households in a ...')>,
 <Variable('income_45000_49_2ae57c6b','The number of households in a ...')>,
 <Variable('income_50000_59_3022415f','The number of households in a ...')>,
 <Variable('income_60000_74_216aace3','The number of households in a ...')>,
 <Variable('income_75000_99_4b97dedb','The number of households in a ...')>,
 <Variable('income_100000_1_a3fdb779','The number of households in a ...')>,
 <Variable('income_125000_1_43bba8d9','The number of households in a ...')>,
 <Variable('income_150000_1_bee429a5','The number of households in a ...')>,
 <Variable('income_200000_o_1742e94d','The number of households in a ...')>,
 <Variable('median_income_646ff1a1','Within a geographic area, the ...')>,
 <Variable('households_reti_aeb585d0','None')>]

In [12]:
variables_filtered = [variables.get('female_50_to_54_45fdde42')]

In [13]:
variables_filtered

## Enrichment

In [23]:
credentials = Credentials.from_file()
set_default_credentials(credentials)

In [15]:
# filters = {'do_date': '2019-02-01', 'category': 'apparel'}

In [24]:
data = pd.read_csv('./data/points.csv')

In [25]:
data.head()

,NAME,BRANDNAME,PB_ID,TRADE_NAME,FRANCHISE_NAME,ISO3,AREANAME4,AREANAME3,AREANAME2,AREANAME1,...,GLOBAL_ULTIMATE_STREET_ADDRESS,GLOBAL_ULTIMATE_AREANAME3,GLOBAL_ULTIMATE_AREANAME1,GLOBAL_ULTIMATE_COUNTRY,GLOBAL_ULTIMATE_POSTCODE,FAMILY_MEMBERS,HIERARCHY_CODE,TICKER_SYMBOL,EXCHANGE_NAME,geom
0,HUSAIN'S FASHIONS,NaN,2011204802,NaN,NaN,USA,NaN,TUSCALOOSA,TUSCALOOSA,ALABAMA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT(-87.577749 33.202438)
1,GOODY'S,GOODY'S,2011227410,GOODY'S,NaN,USA,NaN,GENEVA,GENEVA,ALABAMA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT(-85.89445 31.047544)
2,CITI TRENDS,CITI TRENDS,2011234818,CITI TRENDS,NaN,USA,NaN,TALLADEGA,TALLADEGA,ALABAMA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT(-86.084328 33.43874)
3,DEPARTMENT STORE DIRECT,NaN,2011250243,NaN,NaN,USA,NaN,CULLMAN,CULLMAN,ALABAMA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT(-86.847353 34.185178)
4,SHELTONS CLOTHING,NaN,2011251945,NaN,NaN,USA,NaN,MOULTON,LAWRENCE,ALABAMA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT(-87.253304 34.464891)

In [26]:
# You may need access to Data Observatory for this
data_augmentated = Enrichment().enrich_points(data, variables_filtered, data_geom_column='geom')  # , filters=filters)

In [28]:
data_augmentated.describe()

,PB_ID,FRANCHISE_NAME,AREANAME4,POSTCODE,LONGITUDE,LATITUDE,COUNTRY_ACCESS_CODE,OPEN_24H,BUSINESS_LINE,SIC1,...,GLOBAL_ULTIMATE_AREANAME3,GLOBAL_ULTIMATE_AREANAME1,GLOBAL_ULTIMATE_COUNTRY,GLOBAL_ULTIMATE_POSTCODE,FAMILY_MEMBERS,HIERARCHY_CODE,TICKER_SYMBOL,EXCHANGE_NAME,female_50_to_54,demographics_acs_usa_blockgroupclipped_2015_5yrs_20062010_area
count,1.650250e+05,0.0,0.0,165025.000000,165025.000000,165025.000000,0.0,0.0,0.0,157501.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,165025.000000,1.650250e+05
mean,2.049554e+09,NaN,NaN,48674.852307,-90.704470,37.454841,NaN,NaN,NaN,6309.450042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.483733,4.945346e+14
std,5.135636e+07,NaN,NaN,29482.914624,15.913858,5.079828,NaN,NaN,NaN,926.648850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.842378,8.764074e+13
min,2.011172e+09,NaN,NaN,602.000000,-159.365025,18.380165,NaN,NaN,NaN,5311.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,9.735934e+03
25%,2.015462e+09,NaN,NaN,24557.000000,-97.047589,33.879475,NaN,NaN,NaN,5411.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.000000,5.100661e+14
50%,2.020182e+09,NaN,NaN,44646.000000,-86.167891,38.333504,NaN,NaN,NaN,7231.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.000000,5.100661e+14
75%,2.107638e+09,NaN,NaN,76013.000000,-79.632619,41.007385,NaN,NaN,NaN,7231.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.000000,5.100661e+14
max,2.176879e+09,NaN,NaN,99835.000000,-65.889788,64.888161,NaN,NaN,NaN,7231.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,479.000000,5.100661e+14

In [29]:
data_augmentated.sort_values(by='female_50_to_54').head()

,NAME,BRANDNAME,PB_ID,TRADE_NAME,FRANCHISE_NAME,ISO3,AREANAME4,AREANAME3,AREANAME2,AREANAME1,...,GLOBAL_ULTIMATE_AREANAME1,GLOBAL_ULTIMATE_COUNTRY,GLOBAL_ULTIMATE_POSTCODE,FAMILY_MEMBERS,HIERARCHY_CODE,TICKER_SYMBOL,EXCHANGE_NAME,geom,female_50_to_54,demographics_acs_usa_blockgroupclipped_2015_5yrs_20062010_area
40787,IGA,IGA,2036016097,IGA,NaN,USA,NaN,MIAMI BEACH,MIAMI-DADE,FLORIDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-80.129296 25.856053),0.0,1.011278e+05
138167,MOSKOVITS TIBOR MD,NaN,2018451698,NaN,NaN,USA,NaN,NEW YORK,NEW YORK,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-73.978821 40.745723),0.0,1.310188e+04
51646,ESSENTIAL NUTRIENTS,NaN,2120978362,NaN,NaN,USA,NaN,MUNCIE,DELAWARE,INDIANA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-85.422219 40.159024),0.0,8.586596e+06
31904,SODA CLUB BEVERAGE,NaN,2014670899,NaN,NaN,USA,NaN,AURORA,KANE,ILLINOIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-88.303636 41.778112),0.0,9.955986e+05
13920,FAMILY DOLLAR STORE,FAMILY DOLLAR,2013963239,FAMILY DOLLAR STORE,NaN,USA,NaN,ATLANTA,DEKALB,GEORGIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-84.32839 33.842955),0.0,1.049036e+06