In [1]:
from cartoframes.auth import Credentials
from cartoframes.data.clients import SQLClient

In [2]:
credentials = Credentials(username='cartovl', api_key='default_public')

sql = SQLClient(credentials)

### Query

In [3]:
sql.query('SELECT adm0name, pop_max, the_geom FROM populated_places LIMIT 1')

[{'adm0name': 'Belize',
  'pop_max': 15220,
  'the_geom': '0101000020E610000048F259B9173156C091EB964485403140'}]

In [4]:
sql.query('SELECT adm0name, pop_max, the_geom FROM populated_places LIMIT 1', verbose=True)

{'rows': [{'adm0name': 'Belize',
   'pop_max': 15220,
   'the_geom': '0101000020E610000048F259B9173156C091EB964485403140'}],
 'time': 0.004,
 'fields': {'adm0name': {'type': 'string', 'pgtype': 'text'},
  'pop_max': {'type': 'number', 'pgtype': 'int4'},
  'the_geom': {'type': 'geometry',
   'wkbtype': 'Unknown',
   'dims': 2,
   'srid': 4326}},
 'total_rows': 1}

### Execute

In [5]:
# sql.execute('SELECT * FROM populated_places')

### Helpers

In [6]:
sql.distinct('populated_places', 'adm_0_cap_name')

[('City', 7122), ('Capital', 200)]

In [7]:
sql.count('populated_places')

7322

In [8]:
sql.bounds('SELECT * FROM populated_places WHERE adm0name = \'Spain\'')

[[-16.2500006525, 28.0999760122], [2.65424597028, 43.530016092]]

In [9]:
sql.schema('populated_places')

Column name          Column type
-------------------------------------
cartodb_id           number
the_geom             geometry
the_geom_webmercator geometry
adm0name             string
adm1name             string
scalerank            number
natscale             number
labelrank            number
featurecla           string
name                 string
namepar              string
namealt              string
diffascii            number
nameascii            string
adm0cap              number
capalt               number
capin                string
worldcity            number
megacity             number
sov0name             string
sov_a3               string
adm0_a3              string
iso_a2               string
note                 string
latitude             number
longitude            number
changed              number
namediff             number
diffnote             string
pop_max              number
pop_min              number
pop_other            number
rank_max             number
rank_min             number
geonameid            number
meganame             string
ls_name              string
ls_match             number
checkme              number
created_at           date
updated_at           date
adm_0_cap            string
adm_0_cap_name       string

In [10]:
sql.schema('populated_places', raw=True)

{'cartodb_id': 'number',
 'the_geom': 'geometry',
 'the_geom_webmercator': 'geometry',
 'adm0name': 'string',
 'adm1name': 'string',
 'scalerank': 'number',
 'natscale': 'number',
 'labelrank': 'number',
 'featurecla': 'string',
 'name': 'string',
 'namepar': 'string',
 'namealt': 'string',
 'diffascii': 'number',
 'nameascii': 'string',
 'adm0cap': 'number',
 'capalt': 'number',
 'capin': 'string',
 'worldcity': 'number',
 'megacity': 'number',
 'sov0name': 'string',
 'sov_a3': 'string',
 'adm0_a3': 'string',
 'iso_a2': 'string',
 'note': 'string',
 'latitude': 'number',
 'longitude': 'number',
 'changed': 'number',
 'namediff': 'number',
 'diffnote': 'string',
 'pop_max': 'number',
 'pop_min': 'number',
 'pop_other': 'number',
 'rank_max': 'number',
 'rank_min': 'number',
 'geonameid': 'number',
 'meganame': 'string',
 'ls_name': 'string',
 'ls_match': 'number',
 'checkme': 'number',
 'created_at': 'date',
 'updated_at': 'date',
 'adm_0_cap': 'string',
 'adm_0_cap_name': 'string'}

In [11]:
sql.describe('populated_places', 'adm0name')

count     7.32e+03
type: string

In [12]:
sql.describe('populated_places', 'pop_max')

count     7.32e+03
avg       3.23e+05
min       -9.90e+01
max       3.57e+07
type: number

In [13]:
# sql.create_table('test', [('id', 'INT'), ('name', 'TEXT')]) # cartodbfy=False
# sql.insert_table('test', ['id', 'name'], [0, 'a'])
# sql.update_table('test', 'name', 'b', 'id = 0')
# sql.rename_table('test', 'new_test')
# sql.drop_table('new_test')